{
  "tabWidth": 2,
  "semi": false,
  "printWidth": 80,
  "singleQuote": true,
  "endOfLine": "auto",
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "trailingComma": "none",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^.$|^./types$|^./styles|^./logic$",
    "^./|^../",
    "@expo|react-native",
    "@next|next",
    "^react$",
    "^public/(.*)$",
    "^src/styles/(.*)$",
    "^src/screens/(.*)$",
    "^src/components/(.*)$",
    "^src/contexts/(.*)$",
    "^src/routes/(.*)$",
    "^src/schemas/(.*)$",
    "^src/shared/(.*)$",
    "^src/static/(.*)$",
    "^src/pages/(.*)$",
    "^src/hooks/(.*)$",
    "^src/assets/(.*)$",
    "^src/hocs/(.*)$",
    "^src/store/(.*)$",
    "^src/services/(.*)$",
    "^src/tests/(.*)$",
    "^src/types/(.*)$",
    "^src/utils/(.*)$",
    "<THIRD_PARTY_MODULES>"
  ]
}
